{% extends "home/base.html" %}

{% block title %}TopMarks - Home{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">




		<div class="col"> <!-- column containing deliveries panel -->

			<!-- DELIVERIES PANEL -->
			<div class="card border-primary text-center" id="parent_deliveries_panel">
				
				<div class="card_header">
        	<h3>SHOWROOM DELIVERIES</h3>
      	</div>

      	<div class="card-body">

      		<!-- tabs -->

      		<ul class="nav nav-tabs" role="tablist">
      			<li class="nav-item">
      				<a class="nav-link" data-toggle="tab" href="#today_deliveries_panel" role="tab" id="today_deliveries_panel_toggle">Today</a>
      			</li>
      			<li class="nav-item">
      				<a class="nav-link" data-toggle="tab" href="#this_week_deliveries_panel" role="tab" id="this_week_deliveries_panel_toggle">This Week</a>
      			</li>
      			<li class="nav-item">
      				<a class="nav-link" data-toggle="tab" href="#all_deliveries_panel" role="tab" id="all_deliveries_panel_toggle">All</a>
      			</li>
      		</ul>

      		<div class="tab-content"> <!-- content -->

      			<!-- TODAY DELIVERIES -->

      			<div role="tabpanel" class="tab-pane in active" id="today_deliveries_panel" style="max-height: 80vh; overflow-y: scroll;">
      				{% for item in today_delivery_items %}
      					<div class="card border-primary text-center" id="today_delivery_item_{{item.pk}}">
      						<div class="card-body">
      							<p class="card-text">
                      {% if item.PO %}
                        <a href="{% url 'purchase_orders' item.PO.order_no %}" id="po_link_item_{{ item.pk }}">
                      {% endif %}

      								{{ item.fullname }}</a> x {{ item.quantity }}

      								<button> 
      									<a href="{% url 'mark_showroom' item.pk %}" id="accept_delivery_button_{{ item.pk }}">
      										Accept
      									</a>
      								</button>

      								<button type="button" class="btn btn-grey" data-toggle="modal" data-itempk="{{ item.pk }}" data-target="#delivery_rejection_modal" id="reject_delivery_button_{{ item.pk }}">
      										Reject
      									</a>
      								</button>

      							</p>
      						</div>
      					</div>
      				{% endfor %}

      			</div>

      			<!-- THIS WEEK DELIVERIES -->

      			<div role="tabpanel" class="tab-pane" id="this_week_deliveries_panel" style="max-height: 80vh; overflow-y: scroll;">

      				{% for item in this_week_delivery_items %}
      					<div class="card border-primary text-center" id="this_week_delivery_item_{{item.pk}}">
      						<div class="card-body">
      							<p class="card-text">

                      {% if item.PO %}
                        <a href="{% url 'purchase_orders' item.PO.order_no %}" id="po_link_item_{{ item.pk }}">
                      {% endif %}

      								{{ item.fullname }}</a> x {{ item.quantity }}

      								<button> 
      									<a href="{% url 'mark_showroom' item.pk %}" id="accept_delivery_button_{{ item.pk }}">
      										Accept
      									</a>
      								</button>

      								<button type="button" class="btn btn-grey" data-toggle="modal" data-itempk="{{ item.pk }}" data-target="#delivery_rejection_modal" id="reject_delivery_button_{{ item.pk }}">
      										Reject
      									</a>
      								</button>

      							</p>
      						</div>
      					</div>
      				{% endfor %}

      			</div>

      			<!-- ALL DEVLIVERIES -->

      			<div role="tabpanel" class="tab-pane" id="all_deliveries_panel" style="max-height: 80vh; overflow-y: scroll;">

      				{% for item in all_delivery_items %}
      					<div class="card border-primary text-center" id="all_delivery_item_{{item.pk}}">
      						<div class="card-body">
      							<p class="card-text">

                      {% if item.PO %}
                       <a href="{% url 'purchase_orders' item.PO.order_no %}" id="po_link_item_{{ item.pk }}">
                      {% endif %}

      								{{ item.fullname }}</a> x {{ item.quantity }}
      								<button> 
      									<a href="{% url 'mark_showroom' item.pk %}" id="accept_delivery_button_{{ item.pk }}">
      										Accept
      									</a>
      								</button>

      								<button type="button" class="btn btn-grey" data-toggle="modal" data-itempk="{{ item.pk }}" data-target="#delivery_rejection_modal" id="reject_delivery_button_{{ item.pk }}">
      									Reject
      								</button>

      							</p>
      						</div>
      					</div>
      				{% endfor %}

      			</div>

      		</div> <!-- end tab content -->
      	</div> <!-- card body -->
      </div> <!-- parent deliveries panel -->

    </div> <!-- endcolumn containing deliveries panel -->







    <div class="col"> <!-- column containing shopping list -->


    	<!-- SHOPPING LIST -->
  		<div class="card border-primary text-center" id="shopping_list_panel">
  			
  			<div class="card_header">
        	<h3>SHOPPING LIST</h3>
      	</div>

    		<div class="card-body" style="max-height: 80vh; overflow-y: scroll;">
		
    		{% for item in shopping_list_items %}
      		<div class="card border-black text-center" id="{{ item.model }}_{{ item.pk}}">
        		<div class="card-body">
          		<p class="card-text"> {{ item.description }} x{{ item.quantity }} || {{ item.job.address }} ||
            		<a href="{% url 'acquired' item.pk %}" id="{{ item.model }}_{{ item.pk }}_acquired_button"> ACQUIRED </a>
          		</p>
              <div class="d-flex justify-content-end">
                <a href="{% url 'delete' item.model item.pk %}" id="delete_shopping_list_item_button">del</a>
              </div>
        		</div>
      		</div>
    		{% endfor %}
		
    		</div> <!-- shopping_list_panel card body -->
    		<div class="card-footer">
      		<form action="{% url 'shopping_list_create' 'create_homepage' %}" method="post" id="new_shopping_list_item_form">
        		{% csrf_token %}
        		{{ new_shopping_list_item_form }}
      		<input type="Submit" value="add" id="shopping_list_form_submit_button">
      		</form>
    		</div> <!-- card footer -->
  		</div> <!-- shopping list panel -->

  	</div> <!-- endcolumn containing deliveries panel -->





  	<div class="col"> <!-- column containing notes panel -->
  		
  		<div class="card border-primary text-center" id="notes_panel">
  			
  			<div class="card_header">
        	<h3>NOTES</h3>
      	</div>

      	<div class="card body">

      		<!-- tabs -->

        	<ul class="nav nav-tabs" role="tablist">
          	<li class="nav-item">
            	<a class="nav-link" href="#admin_notes_panel" role="tab" data-toggle="tab" id="admin_notes_panel_toggle">Admin</a>
          	</li>
          	<li class="nav-item">
            	<a class="nav-link" href="#all_notes_panel" role="tab" data-toggle="tab" id="all_notes_panel_toggle">All Jobs</a>
          	</li>
          </ul>

          <div class="tab-content"> <!-- tab content -->

          	<!-- ADMIN NOTES -->

          	<div role="tabpanel" class="tab-pane in active" id="admin_notes_panel" style="max-height: 80vh; overflow-y: scroll;">

 							{% for note in admin_notes %}

    						<div class="card border-black text-center mb-2" id="Note_{{ note.pk }}">
    							<div class="card-header">
    								{{ note.Title }}
    							</div>
    							<div class="card-body">
    								<p class="card-text"> {{ note.Text }} </p>
    							</div>
                  <div class="card-footer">
                    <a href="{% url 'delete' note.model note.pk %}" id="delete_note_button">del</a>
                  </div>
    						</div>

    					{% endfor %}

    				</div>     

    				<!-- JOB NOTES -->

    				<div role="tabpanel" class="tab-pane" id="all_notes_panel" style="max-height: 80vh; overflow-y: scroll;">
 							{% for note in job_notes %}

    						<div class="card border-black text-center mb-2" id="Note_{{ note.pk }}">
    							<div class="card-header">
    								{{ note.job.address }} - {{ note.Title }}
    							</div>
    							<div class="card-body">
    								<p class="card-text"> {{ note.Text }} </p>
    							</div>
                  <div class="card-footer">
                    <a href="{% url 'delete' note.model note.pk %}" id="delete_note_button">del</a>
                  </div>
    						</div>

    					{% endfor %}

    				</div>

    			</div>

    		</div> <!-- end card body -->
    		
    		<div class="card-footer">

    			<div class="card border-black text-center">
    				<div class="card-header">
    					NEW ADMIN NOTE
    				</div>
    				<div class="card-body">
    					<form action="{% url 'new_note' 'admin' %}" method="post" id="new_note_form">
    					{% csrf_token %}
    					{{ new_note_form }}
    					<input type="Submit" value="Add Note" id="Add_note">
    			  	</form>
    				</div>
    			</div>
    		</div> <!-- end card footer -->
    	</div> <!-- end notes panel -->

    </div> <!-- end notes column -->






    <div class="col"> <!-- column containing blank purchase order -->

    	<div class="card border-primary text-center" id="PO_panel">

  			<div class="card_header">
        	<h3>PURCHASE ORDER - {{ next_PO_number }}</h3>
      	</div>
          
        <div class="card-body" style="max-height: 80vh; overflow-y: scroll;">
          <form action="{% url 'purchase_order_homepage' %}" id="blank_PO_form" method="POST">
            {% csrf_token %}
              <div class="card">
                <div class="card-block mb-2" id="supplier details">
                  {{ purchase_order_form.Supplier.label }}<br>
                  {{ purchase_order_form.Supplier }} <br>
                  {{ purchase_order_form.Supplier_ref.label }}<br>
                  {{ purchase_order_form.Supplier_ref }} <br>
                  {{ purchase_order_form.order_no.label }}<br>
                  {{ purchase_order_form.order_no }} <br>
                </div>
              </div>
              <div class="card">
                <div class="card-block" id="item1">
                  {{ purchase_order_form.item_1_description.label }}<br>
                  {{ purchase_order_form.item_1_description }}<br>
                  {{ purchase_order_form.item_1_fullname.label }}<br>
                  {{ purchase_order_form.item_1_fullname }}<br>
                  {{ purchase_order_form.item_1_price.label }}<br>
                  {{ purchase_order_form.item_1_price }}<br>
                  {{ purchase_order_form.item_1_job.label }}<br>
                  {{ purchase_order_form.item_1_job }}<br>
                  {{ purchase_order_form.item_1_delivery_location.label }}<br>
                  {{ purchase_order_form.item_1_delivery_location }}<br>
                  {{ purchase_order_form.item_1_delivery_date.label }}<br>
                  {{ purchase_order_form.item_1_delivery_date }}<br>
                  {{ purchase_order_form.item_1_quantity.label }}<br>
                  {{ purchase_order_form.item_1_quantity }}
                </div>
              </div>
              <div class="card">
                <div class="card-block" id="item2">
                  {{ purchase_order_form.item_2_description.label }}<br>
                  {{ purchase_order_form.item_2_description }}<br>
                  {{ purchase_order_form.item_2_fullname.label }}<br>
                  {{ purchase_order_form.item_2_fullname }}<br>
                  {{ purchase_order_form.item_2_price.label }}<br>
                  {{ purchase_order_form.item_2_price }}<br>
                  {{ purchase_order_form.item_2_job.label }}<br>
                  {{ purchase_order_form.item_2_job }}<br>
                  {{ purchase_order_form.item_2_delivery_location.label }}<br>
                  {{ purchase_order_form.item_2_delivery_location }}<br>
                  {{ purchase_order_form.item_2_delivery_date.label }}<br>
                  {{ purchase_order_form.item_2_delivery_date }}<br>
                  {{ purchase_order_form.item_2_quantity.label }}<br>
                  {{ purchase_order_form.item_2_quantity }}
                </div>
              </div>
              <div class="card">
                <div class="card-block" id="item3">
                  {{ purchase_order_form.item_3_description.label }}<br>
                  {{ purchase_order_form.item_3_description }}<br>
                  {{ purchase_order_form.item_3_fullname.label }}<br>
                  {{ purchase_order_form.item_3_fullname }}<br>
                  {{ purchase_order_form.item_3_price.label }}<br>
                  {{ purchase_order_form.item_3_price }}<br>
                  {{ purchase_order_form.item_3_job.label }}<br>
                  {{ purchase_order_form.item_3_job }}<br>
                  {{ purchase_order_form.item_3_delivery_location.label }}<br>
                  {{ purchase_order_form.item_3_delivery_location }}<br>
                  {{ purchase_order_form.item_3_delivery_date.label }}<br>
                  {{ purchase_order_form.item_3_delivery_date }}<br>
                  {{ purchase_order_form.item_3_quantity.label }}<br>
                  {{ purchase_order_form.item_3_quantity }}
                </div>
              </div>
              <div class="card">
                <div class="card-block" id="item4">
                  {{ purchase_order_form.item_4_description.label }}<br>
                  {{ purchase_order_form.item_4_description }}<br>
                  {{ purchase_order_form.item_4_fullname.label }}<br>
                  {{ purchase_order_form.item_4_fullname }}<br>
                  {{ purchase_order_form.item_4_price.label }}<br>
                  {{ purchase_order_form.item_4_price }}<br>
                  {{ purchase_order_form.item_4_job.label }}<br>
                  {{ purchase_order_form.item_4_job }}<br>
                  {{ purchase_order_form.item_4_delivery_location.label }}<br>
                  {{ purchase_order_form.item_4_delivery_location }}<br>
                  {{ purchase_order_form.item_4_delivery_date.label }}<br>
                  {{ purchase_order_form.item_4_delivery_date }}<br>
                  {{ purchase_order_form.item_4_quantity.label }}<br>
                  {{ purchase_order_form.item_4_quantity }}
                </div>
              </div>
              <div class="card">
                <div class="card-block" id="item5">
                  {{ purchase_order_form.item_5_description.label }}<br>
                  {{ purchase_order_form.item_5_description }}<br>
                  {{ purchase_order_form.item_5_fullname.label }}<br>
                  {{ purchase_order_form.item_5_fullname }}<br>
                  {{ purchase_order_form.item_5_price.label }}<br>
                  {{ purchase_order_form.item_5_price }}<br>
                  {{ purchase_order_form.item_5_job.label }}<br>
                  {{ purchase_order_form.item_5_job }}<br>
                  {{ purchase_order_form.item_5_delivery_location.label }}<br>
                  {{ purchase_order_form.item_5_delivery_location }}<br>
                  {{ purchase_order_form.item_5_delivery_date.label }}<br>
                  {{ purchase_order_form.item_5_delivery_date }}<br>
                  {{ purchase_order_form.item_5_quantity.label }}<br>
                  {{ purchase_order_form.item_5_quantity }}
                </div>
              </div>
              <div class="card">
                <div class="card-block" id="item6">
                  {{ purchase_order_form.item_6_description.label }}<br>
                  {{ purchase_order_form.item_6_description }}<br>
                  {{ purchase_order_form.item_6_fullname.label }}<br>
                  {{ purchase_order_form.item_6_fullname }}<br>
                  {{ purchase_order_form.item_6_price.label }}<br>
                  {{ purchase_order_form.item_6_price }}<br>
                  {{ purchase_order_form.item_6_job.label }}<br>
                  {{ purchase_order_form.item_6_job }}<br>
                  {{ purchase_order_form.item_6_delivery_location.label }}<br>
                  {{ purchase_order_form.item_6_delivery_location }}<br>
                  {{ purchase_order_form.item_6_delivery_date.label }}<br>
                  {{ purchase_order_form.item_6_delivery_date }}<br>
                  {{ purchase_order_form.item_6_quantity.label }}<br>
                  {{ purchase_order_form.item_6_quantity }}
                </div>
              </div>
              <div class="card">
                <div class="card-block" id="item7">
                  {{ purchase_order_form.item_7_description.label }}<br>
                  {{ purchase_order_form.item_7_description }}<br>
                  {{ purchase_order_form.item_7_fullname.label }}<br>
                  {{ purchase_order_form.item_7_fullname }}<br>
                  {{ purchase_order_form.item_7_price.label }}<br>
                  {{ purchase_order_form.item_7_price }}<br>
                  {{ purchase_order_form.item_7_job.label }}<br>
                  {{ purchase_order_form.item_7_job }}<br>
                  {{ purchase_order_form.item_7_delivery_location.label }}<br>
                  {{ purchase_order_form.item_7_delivery_location }}<br>
                  {{ purchase_order_form.item_7_delivery_date.label }}<br>
                  {{ purchase_order_form.item_7_delivery_date }}<br>
                  {{ purchase_order_form.item_7_quantity.label }}<br>
                  {{ purchase_order_form.item_7_quantity }}
                </div>
              </div>
              <div class="card">
                <div class="card-block" id="item8">
                  {{ purchase_order_form.item_8_description.label }}<br>
                  {{ purchase_order_form.item_8_description }}<br>
                  {{ purchase_order_form.item_8_fullname.label }}<br>
                  {{ purchase_order_form.item_8_fullname }}<br>
                  {{ purchase_order_form.item_8_price.label }}<br>
                  {{ purchase_order_form.item_8_price }}<br>
                  {{ purchase_order_form.item_8_job.label }}<br>
                  {{ purchase_order_form.item_8_job }}<br>
                  {{ purchase_order_form.item_8_delivery_location.label }}<br>
                  {{ purchase_order_form.item_8_delivery_location }}<br>
                  {{ purchase_order_form.item_8_delivery_date.label }}<br>
                  {{ purchase_order_form.item_8_delivery_date }}<br>
                  {{ purchase_order_form.item_8_quantity.label }}<br>
                  {{ purchase_order_form.item_8_quantity }}
                </div>
              </div>
              <div class="card">
                <div class="card-block" id="item9">
                  {{ purchase_order_form.item_9_description.label }}<br>
                  {{ purchase_order_form.item_9_description }}<br>
                  {{ purchase_order_form.item_9_fullname.label }}<br>
                  {{ purchase_order_form.item_9_fullname }}<br>
                  {{ purchase_order_form.item_9_price.label }}<br>
                  {{ purchase_order_form.item_9_price }}<br>
                  {{ purchase_order_form.item_9_job.label }}<br>
                  {{ purchase_order_form.item_9_job }}<br>
                  {{ purchase_order_form.item_9_delivery_location.label }}<br>
                  {{ purchase_order_form.item_9_delivery_location }}<br>
                  {{ purchase_order_form.item_9_delivery_date.label }}<br>
                  {{ purchase_order_form.item_9_delivery_date }}<br>
                  {{ purchase_order_form.item_9_quantity.label }}<br>
                  {{ purchase_order_form.item_9_quantity }}
                </div>
              </div>
              <div class="card">
                <div class="card-block" id="item10">
                  {{ purchase_order_form.item_10_description.label }}<br>
                  {{ purchase_order_form.item_10_description }}<br>
                  {{ purchase_order_form.item_10_fullname.label }}<br>
                  {{ purchase_order_form.item_10_fullname }}<br>
                  {{ purchase_order_form.item_10_price.label }}<br>
                  {{ purchase_order_form.item_10_price }}<br>
                  {{ purchase_order_form.item_10_job.label }}<br>
                  {{ purchase_order_form.item_10_job }}<br>
                  {{ purchase_order_form.item_10_delivery_location.label }}<br>
                  {{ purchase_order_form.item_10_delivery_location }}<br>
                  {{ purchase_order_form.item_10_delivery_date.label }}<br>
                  {{ purchase_order_form.item_10_delivery_date }}<br>
                  {{ purchase_order_form.item_10_quantity.label }}<br>
                  {{ purchase_order_form.item_10_quantity }}
                </div>
              </div>
            <input type="Submit" value="create" id="PO_panel_PO_form_submit_button">
          </form>
        </div>
      </div> <!-- end PO panel -->

    </div> <!-- end PO column -->
	</div> <!--whole screen row -->
</div> <!-- whole screen container -->





















<!-- MODALS -->

<!-- ITEM REJECTION -->


	<div class="modal fade" id="delivery_rejection_modal" tabindex="-1" role="dialog" aria-labelledby="reject_delivery_modal_Label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="delivery_rejection_modal_pk">
				<div class="modal-header">
					<h5 class="modal-title" id="reject_delivery_modal_Label">Reject Delivery</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">

        	<form action='null' method="POST" id="delivery_rejection_form">
        		{% csrf_token %}
        		{{ reject_delivery_form}}
        		<input type="Submit" value="Submit" id="reject_delivery_form_submit">
        	</form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_modal_{{ SI.pk}}">Cancel</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}